html{
	overflow-y: scroll;
}

body {
  font-family: sans-serif;
  margin: auto;
  background-image: url('images/new_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  max-height: 100%;
}

.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.navbar {
  background-color: #313236;
  width: device-width;
  display: flex;
  justify-content: flex-start;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  border-right: solid;
  border-color: #242424;
  border-width: 1px;
}

.navbar a:hover {
  color: #ffffff;
}

input[type=text], select {
  width: 100%;
  display: inline-block;
  padding: 12px 20px;
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

input[type=submit] {
  width: 100%;
  background-color: #06640a;
  color: white;
  padding: 14px 20px;
  margin: 20px 0 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.frm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 500px;
  margin-top: 10px;
  position: relative;
  left: 50%;
  margin-left: -250px;
  margin-bottom: 5px;
  flex: 1;
  height: 100%;
}

h1, h2, h3 {
  color: white;
  text-align: center;
}

p {
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
}

input[type=month] {
  margin-top: 8px;
  width: 145px;
}

input[type=number] {
  margin-top: 8px;
}

#cardnum {
  width: 100%;
  display: inline-block;
  padding: 12px 20px;
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#cardnum::-webkit-outer-spin-button,
#cardnum::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#footer {
	padding-top: 0px;
	background-color: #313236 !important;
	bottom: 0;
	width: 100%;
	height: 115px;
	clear: both;
	flex-shrink: 0;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-container div {
  width: 30%;
  text-align: center;
}

.image-container img {
  max-width: 80%;
  max-height: 80%;
  box-sizing: border-box;
  padding: 10px;
}

.button1 {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;	
  border-radius: 6px; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#solidBack{
	background-color: rgb(102, 0, 51);
	border: 8px solid black;
	border-radius: 50px;
	border-color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}
